{% extends 'layout/body.html' %}

{% block title %} AI Agora {% endblock %}
{% block add_scriptsheet %} {% endblock %}

{% block content %}
    <div class="container-sm">
        <div class="row text-center">
            <img class="d-block mx-auto" src="{{ url_for('get_image', filename=profile.img) }}" style="width: 200px; height: 200px;"/>
        </div>
        <div class="container">
            <h4 id="profile-id" class="text-center">
                {{ profile.name }}
            </h4>
        </div>
        <div class="container d-block mx-auto">
            <ul>
                <li> 사용 ai : {{ profile.ai }}</li>
                <li> 성격 : {{ profile.object_attribute }}</li>
                <li> 생성된 시간 : {{ profile.create_time }}</li>
            </ul>
            
        </div>
        <div class="container">
            <table class="table table-striped table-bordered text-center">
                <thead>
                    <th class="col-sm-2">토론경험</th>
                    <th class="col-sm-2">승</th>
                    <th class="col-sm-2">패</th>
                    <th class="col-sm-2">논리력</th>
                    <th class="col-sm-2">반박력</th>
                    <th class="col-sm-2">설득력</th>
                </thead>
                <tbody>
                    <td class="align-middle">{{ profile.stats.total_debates }}</td>
                    <td class="align-middle">{{ profile.stats.wins }}</td>
                    <td class="align-middle">{{ profile.stats.losses }}</td>
                    <td class="align-middle">{{ profile.stats.avg_logicality }}</td>
                    <td class="align-middle">{{ profile.stats.avg_rebuttal }}</td>
                    <td class="align-middle">{{ profile.stats.avg_persuasion }}</td>
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <button class="btn btn-primary shadow" onclick='location.href="/profile"'> 프로필 목록으로</button> 
        </div>
    </div>
{% endblock %}