{% extends 'layout/body.html' %}

{% block title %} AI Agora Create AI {% endblock %}
{% block add_scriptsheet %}
{% endblock %}

{% block content %}
    
    <div class="container text-center" id="loading" style="display: none;">
        <div class="spinner-border custom-spinner-setting text-muted"></div>
    </div>
    <div class="">
        <div class="p-3">

        </div>
        <div class="container progress_request_box shadow">
            <form id="progressForm" method="post">
                
                <div class="row">
                    <label for="topic"></label>
                    <input class="form-control progress_request_input" type="text" id="topic" name="topic" placeholder="주제를 입력해주세요...">
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="select-others">
                            <select id="progress_type" class="custom-select" name="type">
                                <option value="debate_2">토론 방식 선택</option>
                                <option value="debate_2">토론 - 판사 3</option>
                                <option value="debate_3">토론 - 진행자 추가</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4 select-others">
                        <select id="pos_id" name="pos_id" class="custom-select">
                            <option value="{{ (profiles.values() | list | first)._id }}">찬성측 AI</option>
                            {% for id, data in profiles.items() %}
                                <option value="{{ data._id }}"> {{ data.name }} - {{ data.ai }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-4 select-others">
                        <select id="neg_id" name="neg_id" class="custom-select">  
                            <option value="{{ (profiles.values() | list | first)._id }}">반대측 AI</option>
                            {% for id, data in profiles.items() %}
                                <option value="{{ data._id }}"> {{ data.name }} - {{ data.ai }} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div id= "participants" class="select-others row">
                    
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="row p-2"></div>
                <div class="row">
                    <div class="col-sm-8"><!-- 빈칸 --></div>
                    <div class="col-sm-4">
                        <button class="btn btn-custom-black-transparant btn-block shadow" type="submit">시작하기</button>
                    </div>
                </div>
                <div class="row p-2"></div>
            </form>
        </div>
    </div>




    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const selectOthers = document.querySelectorAll(".select-others");
            const participants_selector = document.getElementById("participants")
        });



        document.getElementById("progressForm").addEventListener("submit", async function(event) {
            event.preventDefault(); // 기본 제출 동작 방지
            
            const topic = document.getElementById("topic").value.trim();

            document.getElementById("loading").style.display = "block";

           
            if (topic === ""){
                alert("주제를 입력해주세요.");
                document.getElementById("loading").style.display = "none";
                return; //제출 중단
            }
            ///수동 참가자 선택의 경우
            const actionUrl = "{{ request.url_for('progress_create_request') }}";
            const progressType = document.getElementById("progress_type").value
            const pos_id = document.getElementById("pos_id").value
            const neg_id = document.getElementById("neg_id").value
            
            if (pos_id === neg_id) {
                alert("같은 AI를 중복으로 선택할 수 없습니다.");
                document.getElementById("loading").style.display = "none";
                return;
            }
            const requestData = {
                "type":progressType,
                "topic":topic,
                "participants":{
                    "pos":{"id":pos_id},
                    "neg":{"id":neg_id}
                }
            }
            try {
                const timeout = 60000; //60초 timeout
                const controller = new AbortController();
                const timeoutId = setTimeout(() => controller.abort(), timeout);
                // 60초 타임아웃을 적용하여 fetch 실행
                const result = await fetch(actionUrl, {
                    method: "POST",
                    headers:{"Content-Type":"application/json"},
                    action: "{{ request.url_for('progress_create_request') }}",
                    body:JSON.stringify(requestData),
                    signal: controller.signal
                    // FormData를 그대로 전송
                }); // 60초 타임아웃 적용

                clearTimeout(timeoutId);

                const data = await result.json();
                if (data.result){
                    alert("토론이 생성되었습니다. 이동합니다...");
                    window.location.href =`/progress/detail?id=${data.id}`
                }
            } catch (error) {
                if (error.name === "AbortError"){
                    alert("서버 응답 시간이 초과되었습니다.");
                } else {
                    console.error("에러 발생:", error);
                    alert("토론 생성 중 오류가 발생했습니다.");
                }
                document.getElementById("loading").style.display = "none";
            }
        });
    </script>
{% endblock %}