{% extends 'layout/body.html' %}

{% block title %} AI Agora Create AI {% endblock %}
{% block add_scriptsheet %}
{% endblock %}

{% block content %}
    <div class="">
        <div class="container-sm">
            <form action="{{ request.url_for('progress_create_request') }}" id="progressForm" method="post">
                <div class="row">
                    <div class="col-sm-4"> <!-- 빈칸 --> </div>
                    <div class="col-sm-4">
                        <label for="progress_type">세션 형태</label>
                        <select id="progress_type" name="type">
                            <option value="debate">기본 토론</option>
                        </select>
                    </div>
                    <div class="col-sm-4"> <!-- 빈칸 --> </div>
                </div>
                <div class="row">
                    <div class="col-sm-2"><!-- 빈칸 --></div>
                    <div class="col-sm-4">
                        <label for="pos_id">찬성 측 AI:</label>
                        <select id="pos_id" name="pos_id">  
                            {% for id, data in profiles.items() %}
                                <option value="{{ data._id }}"> {{ data.name }} - {{ data.ai }} </option>
                            {% endfor %}
                        </select>
                        
                    </div>
                    <div class="col-sm-4">
                        <label for="neg_id">반대 측 AI:</label>
                        <select id="neg_id" name="neg_id">  
                            {% for id, data in profiles.items() %}
                                <option value="{{ data._id }}"> {{ data.name }} - {{ data.ai }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-2"><!-- 빈칸 --></div>
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="form-group col-sm-8">
                        <label for="topic"></label>
                        <input class="form-control" type="text" id="topic" name="topic" placeholder="주제 입력">
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <button type="submit">시작하기</button>
            </form>
        </div>
    </div>





    <script>
        document.getElementById("progressForm").addEventListener("submit", async function(event) {
            event.preventDefault(); // 기본 제출 동작 방지
            
            const progressType = document.getElementById("progress_type").value
            const pos_id = document.getElementById("pos_id").value
            const neg_id = document.getElementById("neg_id").value
            const topic = document.getElementById("topic").value
            if (pos_id === neg_id) {
                alert("같은 AI를 중복으로 선택할 수 없습니다.");
                return;
            }

            
            const actionUrl = event.target.action; // form의 action URL 가져오기
            const requestData = {
                "type":progressType,
                "topic":topic,
                "participants":{
                    "pos":{"id":pos_id},
                    "neg":{"id":neg_id}
                }
            }
            try {
                // ✅ 10초 타임아웃을 적용하여 fetch 실행
                const result = await fetch(actionUrl, {
                    method: "POST",
                    headers:{"Content-Type":"application/json"},
                    body:JSON.stringify(requestData)
                    // FormData를 그대로 전송
            }); // 100초 타임아웃 적용

                if (result.message){
                    alert(result.message);
                }
            } catch (error) {
                console.error("에러 발생:", error);
                alert("토론 생성 중 오류가 발생했습니다.");
            }
        });
    </script>
{% endblock %}