{% extends 'layout/body.html' %}

{% block title %} AI Agora {% endblock %}
{% block add_scriptsheet %} {% endblock %}

{% block content %}
    <div class="container-sm">
        <div class="container">
            <h4 id="progress-topic">
                {{ progress.topic }}
            </h4>
        </div>
        <div class="container row">
            {% for position, data in progress.participants.items() %}
            <div class="col-sm-6 border">
                <span>
                    <strong>{{ position }}</strong> : {{ data.name }}</span>
                <ul>
                    <li>AI : {{ data.ai }}</li>
                    <li>속성 : {{ data.object_attribute }}</li>
                </ul>
            </div>
            {% endfor %}
        </div>
        <div id="status" data-status="{{ progress.status.type }}" style="display: none;">
        </div>
        <div>
            <div id="progress-log" data-message-len="{{ progress.debate_log | length }}">
                {% for message in progress.debate_log %}
                    <div class="media border p-3">
                        <div class="media-body">
                            <strong>
                                <span class="speaker" data-position="{{ message.speaker }}">
                                    {% if message.speaker == "pos" %}
                                        찬성측
                                    {% elif message.speaker == "neg" %}
                                        반대측
                                    {% endif %}
                                </span>
                            </strong>
                            <span>
                                ({{ message.name }})
                            </span>
                            <span class="timestamp">{{ message.timestamp }}</span>
                            <div class="message" style="white-space: pre-line;">
                                {{ message.message | safe }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <button onclick='location.href="/progress"'> 대화 목록으로</button> 
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function(){
           
            //현재 주소창에서 id 파라미터 가져오기
            function getQueryParam(param){
                const urlParams = new URLSearchParams(window.location.search);
                return urlParams.get(param);
            }

            const id = getQueryParam("id");

            async function fetchProgress(){
                const progressLog = document.getElementById("progress-log");
                const dataMessageLen = parseInt(progressLog.getAttribute("data-message-len"), 10);
                let lastMessageLenght = isNaN(dataMessageLen) ? 0 : dataMessageLen;
                try {
                    const response = await fetch(`/progress/data?id=${id}`);
                    if (!response.ok){
                        throw new Error("네트워크 상태 나쁨");
                    }

                    const data = await response.json();
                    const newLog = data.debate_log || []; //debate_log가 없으면 빈 []를 반환

                    if (newLog.length > lastMessageLenght) {
                        progressLog.setAttribute("data-message-len", newLog.length)
                        //새 메시지 추가
                        for (let i = lastMessageLenght; i<newLog.length; i++){
                            const message = newLog[i];
                            console.log(message)
                            const appendObj = add_progress_log(message);
                            console.log(appendObj)
;                            progressLog.append(appendObj);
                            
                        }
                    }
                    lastMessageLenght = newLog.length;

                } catch (error) {
                    console.error("Error fetching progress:", error);
                }
            }

            function add_progress_log(data){
                const messageElement = document.createElement("div");
                messageElement.classList.add("media", "border", "p-3");
                let speaker = ""
                if (data.speaker == "pos"){
                    speaker = "긍정측";
                } else if (data.speaker == "neg"){
                    speaker = "부정측";
                } else {
                    speaker = data.speaker;
                }
                messageElement.innerHTML = `
                        <div class="media-body">
                            <strong>
                                <span class="speaker" data-position="${data.speaker}">${speaker} ${data.name}</span>
                            </strong>
                            <span class="timestamp">${data.timestamp}</span>
                            <div class="message" style="white-space: pre-line;">
                                ${data.message}
                            </div>
                        </div>
                    `;
                return messageElement;
            }

            setInterval(fetchProgress, 3000);
        })
    </script>
{% endblock %}