{% extends 'layout/body.html' %}

{% block title %} AI Agora Lobby {% endblock %}
{% block add_scriptsheet %}
<script src="{{ url_for('static', path='js/ai_create.js') }}"></script>
<script src="{{ url_for('static', path='js/fetch_with_timeout.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="content-container">
        <h1>  </h1>
        <div>
            <a href="{{ request.url_for('lobby_create_debate') }}">주제 생성하기</a>
        </div>
    </div>
    
    <!--ai 생성 버튼-->
    <button class="btn btn-primary floating-btn" data-toggle="modal" data-target="#create-ai-modal"> AI 생성하기 </button>
    <!-- ai 생성 modal -->
    <div class="modal container" id="create-ai-modal">
        {% include 'layout/modal_ai_create.html' %}
    </div>
    <div class="ai_profiles_container row">
        {% set indexcount = 0 %}
        {% for id, data in profiles.items() %}
        {% set indexcount = indexcount + 1 %}
        <div class="ai_profile col-sm-6">
            <ul>
                {% set profile = data.data %}
                <li>이름 : {{ profile.name }}</li>
                <li>AI : {{ profile.ai }}</li>
                <li>AI 속성 : {{ profile.object_attribute }}</li>
                <li>생성시간 : {{ profile.create_time }}</li>
            </ul>
        </div>
        {% endfor %}
    </div>
{% endblock %}
